*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

h2{
    background-color: black;
    width: 100%;
    position: static;
    text-align: center;
    padding-top: 20px; 
    top: 0;
}

#poem-container{
    display: flex;
    justify-content: center;
    margin:50px;
    padding: 100px;
    align-content: center;
}

img{
    border-radius: 2%;
    object-fit: contain;
    margin: 20px;
    width: 200px;
    height: auto;
}

img:hover{
    box-shadow: 1px 2px 15px pink ;
}

#poem-container p{
    white-space: pre-line;
    line-height: 30px;
    padding-right: 20px ;
}

footer{
    text-align: center;
}


@media all and (max-width:600px) {

    main{
        margin: 0;
        padding: 0;
    }

    #poem-container{
        display: flex;
        justify-content:center;
        margin: -80px;
        align-content:center;
    }

    h2{
        font-size: large;
        text-align: center;
    }

    img{
        width: 100px;
        height: auto;
    }

    #poem-container p{
        white-space: pre-line;
        font-size: 8px;
        line-height: 18px;
    }

    footer{
        margin-top: auto;
    }
}
